flows/flow1.json
[{"id":"5d526c86.791e74","type":"watson-personality-insights","z":"79f911f7.06a2","name":"","lang":"en","x":194.5,"y":148,"wires":[["25ae2f9e.b0ed9","1306fd74.884f03"]]},{"id":"e9e8996b.c71cf8","type":"inject","z":"79f911f7.06a2","name":"","topic":"","payload":"TRUMP: Good evening. Thank you very much. I speak to you today as a lifelong supporter and true friend of Israel. (CHEERS, APPLAUSE) I am a newcomer to politics, but not to backing the Jewish state. (APPLAUSE) In 2001, weeks after the attacks on New York City and on Washington and, frankly, the attacks on all of us, attacks that perpetrated and they were perpetrated by the Islamic fundamentalists, Mayor Rudy Giuliani visited Israel to show solidarity with terror victims. I sent my plane because I backed the mission for Israel 100 percent. (CHEERS, APPLAUSE) In spring of 2004 at the height of the violence in the Gaza Strip, I was the grand marshal of the 40th Salute to Israel Parade, the largest-single gathering in support of the Jewish state. (APPLAUSE) It was a very dangerous time for Israel and frankly for anyone supporting Israel. Many people turned down this honor. I did not. I took the risk and I’m glad I did. (APPLAUSE) But I didn’t come here tonight to pander to you about Israel. That’s what politicians do: all talk, no action. Believe me. (APPLAUSE) I came here to speak to you about where I stand on the future of American relations with our strategic ally, our unbreakable friendship and our cultural brother, the only democracy in the Middle East, the state of Israel. (CHEERS, APPLAUSE) Thank you. My number-one priority is to dismantle the disastrous deal with Iran. (CHEERS, APPLAUSE) Thank you. Thank you. I have been in business a long time. I know deal-making. And let me tell you, this deal is catastrophic for America, for Israel and for the whole of the Middle East. (APPLAUSE) The problem here is fundamental. We’ve rewarded the world’s leading state sponsor of terror with $150 billion, and we received absolutely nothing in return. (APPLAUSE) I’ve studied this issue in great detail, I would say actually greater by far than anybody else. (LAUGHTER) Believe me. Oh, believe me. And it’s a bad deal. The biggest concern with the deal is not necessarily that Iran is going to violate it because already, you know, as you know, it has, the bigger problem is that they can keep the terms and still get the bomb by simply running out the clock. And of course, they’ll keep the billions and billions of dollars that we so stupidly and foolishly gave them. (APPLAUSE) The deal doesn’t even require Iran to dismantle its military nuclear capability. Yes, it places limits on its military nuclear program for only a certain number of years, but when those restrictions expire, Iran will have an industrial-sized, military nuclear capability ready to go and with zero provision for delay, no matter how bad Iran’s behavior is. Terrible, terrible situation that we are all placed in and especially Israel. (APPLAUSE) When I’m president, I will adopt a strategy that focuses on three things when it comes to Iran. First, we will stand up to Iran’s aggressive push to destabilize and dominate the region. (APPLAUSE) Iran is a very big problem and will continue to be. But if I’m not elected president, I know how to deal with trouble. And believe me, that’s why I’m going to be elected president, folks. (CHEERS, APPLAUSE) And we are leading in every poll. Remember that, please. (CHEERS) Iran is a problem in Iraq, a problem in Syria, a problem in Lebanon, a problem in Yemen and will be a very, very major problem for Saudi Arabia. Literally every day, Iran provides more and better weapons to support their puppet states. Hezbollah, Lebanon received — and I’ll tell you what, it has received sophisticated anti-ship weapons, anti-aircraft weapons and GPS systems and rockets like very few people anywhere in the world and certainly very few countries have. Now they’re in Syria trying to establish another front against Israel from the Syrian side of the Golan Heights. In Gaza, Iran is supporting Hamas and Islamic jihad. And in the West Bank, they’re openly offering Palestinians $7,000 per terror attack and $30,000 for every Palestinian terrorist’s home that’s been destroyed. A deplorable, deplorable situation. (APPLAUSE) Iran is financing military forces throughout the Middle East and it’s absolutely incredible that we handed them over $150 billion to do even more toward the many horrible acts of terror. (APPLAUSE) Secondly, we will totally dismantle Iran’s global terror network which is big and powerful, but not powerful like us. (APPLAUSE) Iran has seeded terror groups all over the world. During the last five years, Iran has perpetuated terror attacks in 25 different countries on five continents. They’ve got terror cells everywhere, including in the Western Hemisphere, very close to home. Iran is the biggest sponsor of terrorism around the world. And we will work to dismantle that reach, believe me, believe me. (APPLAUSE) Third, at the very least, we must enforce the terms of the previous deal to hold Iran totally accountable. And we will enforce it like you’ve never seen a contract enforced before, folks, believe me. (APPLAUSE) Iran has already, since the deal is in place, test-fired ballistic missiles three times. Those ballistic missiles, with a range of 1,250 miles, were designed to intimidate not only Israel, which is only 600 miles away, but also intended to frighten Europe and someday maybe hit even the United States. And we’re not going to let that happen. We’re not letting it happen. And we’re not letting it happen to Israel, believe me. (CHEERS, APPLAUSE) Thank you. Thank you. Do you want to hear something really shocking? As many of the great people in this room know, painted on those missiles in both Hebrew and Farsi were the words “Israel must be wiped off the face of the earth.” You can forget that. (APPLAUSE) What kind of demented minds write that in Hebrew? And here’s another. You talk about twisted. Here’s another twisted part. Testing these missiles does not even violate the horrible deal that we’ve made. The deal is silent on test missiles. But those tests do violate the United Nations Security Council resolutions. The problem is no one has done anything about it. We will, we will. I promise, we will. (CHEERS, APPLAUSE) Thank you. Which brings me to my next point, the utter weakness and incompetence of the United Nations. (CHEERS, APPLAUSE) The United Nations is not a friend of democracy, it’s not a friend to freedom, it’s not a friend even to the United States of America where, as you know, it has its home. And it surely is not a friend to Israel. (APPLAUSE) With President Obama in his final year — yea! (LAUGHTER) (CHEERS, APPLAUSE) (LAUGHTER) He may be the worst thing to ever happen to Israel, believe me, believe me. And you know it and you know it better than anybody. So with the president in his final year, discussions have been swirling about an attempt to bring a Security Council resolution on terms of an eventual agreement between Israel and Palestine. Let me be clear: An agreement imposed by the United Nations would be a total and complete disaster. (APPLAUSE) The United States must oppose this resolution and use the power of our veto, which I will use as president 100 percent. (APPLAUSE) When people ask why, it’s because that’s not how you make a deal. Deals are made when parties come together, they come to a table and they negotiate. Each side must give up something. It’s values. I mean, we have to do something where there’s value in exchange for something that it requires. That’s what a deal is. A deal is really something that when we impose it on Israel and Palestine, we bring together a group of people that come up with something. That’s not going to happen with the United Nations. It will only further, very importantly, it will only further delegitimize Israel. It will be a catastrophe and a disaster for Israel. It’s not going to happen, folks. (CHEERS, APPLAUSE) And further, it would reward Palestinian terrorism because every day they’re stabbing Israelis and even Americans. Just last week, American Taylor Allen Force, a West Point grad, phenomenal young person who served in Iraq and Afghanistan, was murdered in the street by a knife-wielding Palestinian. You don’t reward behavior like that. You cannot do it. (APPLAUSE) There’s only one way you treat that kind of behavior. You have to confront it. (APPLAUSE) So it’s not up to the United Nations to really go with a solution. It’s really the parties that must negotiate a resolution themselves. They have no choice. They have to do it themselves or it will never hold up anyway. The United States can be useful as a facilitator of negotiations, but no one should be telling Israel that it must be and really that it must abide by some agreement made by others thousands of miles away that don’t even really know what’s happening to Israel, to anything in the area. It’s so preposterous, we’re not going to let that happen. (CHEERS, APPLAUSE) When I’m president, believe me, I will veto any attempt by the U.N. to impose its will on the Jewish state. It will be vetoed 100 percent. (APPLAUSE) You see, I know about deal-making. That’s what I do. I wrote “The Art of the Deal.” (LAUGHTER) One of the best-selling, all-time — and I mean, seriously, I’m saying one of because I’ll be criticized when I say “the” so I’m going to be very diplomatic — one of… (LAUGHTER) I’ll be criticized. I think it is number one, but why take a chance? (LAUGHTER) (APPLAUSE) One of the all-time best-selling books about deals and deal- making. To make a great deal, you need two willing participants. We know Israel is willing to deal. Israel has been trying. (APPLAUSE) That’s right. Israel has been trying to sit down at the negotiating table without preconditions for years. You had Camp David in 2000 where Prime Minister Barak made an incredible offer, maybe even too generous; Arafat rejected it. In 2008, Prime Minister Olmert made an equally generous offer. The Palestinian Authority rejected it also.","payloadType":"str","repeat":"","crontab":"","once":false,"x":136.5,"y":60,"wires":[["5d526c86.791e74"]]},{"id":"4b0575c0.ee53ec","type":"debug","z":"79f911f7.06a2","name":"","active":true,"console":"false","complete":"payload","x":647.5,"y":383,"wires":[]},{"id":"25ae2f9e.b0ed9","type":"function","z":"79f911f7.06a2","name":"skriv ut Big5+score","func":"var score = msg.insights.children[0].children[0].children;\nvar allscore = [];\n    score.forEach(function(item){\n        allscore.push(item.name+':'+item.percentage);\n    });    \nmsg.payload=allscore;          \nreturn msg;","outputs":1,"noerr":0,"x":395.5,"y":373,"wires":[["4b0575c0.ee53ec"]]},{"id":"d00cf3af.fdfb1","type":"cloudant out","z":"79f911f7.06a2","name":"","cloudant":"","database":"refdatabil","service":"molleroppgave-cloudantNoSQLDB","payonly":true,"operation":"insert","x":593.5,"y":155,"wires":[]},{"id":"38c890d1.69813","type":"function","z":"79f911f7.06a2","name":"","func":"msg.payload = msg.insights;\nreturn msg;","outputs":1,"noerr":0,"x":399.5,"y":158,"wires":[["d00cf3af.fdfb1"]]},{"id":"1306fd74.884f03","type":"function","z":"79f911f7.06a2","name":"Sammenligne retur fra watson med documents i cloudant","func":"var user = msg.insights;\nvar resarray = [];\nvar cars;\nvar request = global.get('request');\nvar getCars = function(callback){\nvar url = 'https://51a41174-9e25-49c5-bdc4-605faa255199-bluemix:f6ff3b51c722e28e44f83abb885073f783086718097e6253fbd8d258b85f713f@51a41174-9e25-49c5-bdc4-605faa255199-bluemix.cloudant.com/refdatabil/_all_docs?include_docs=true';\n  request({\n    url: url,\n    json: true },\n    function (error, response, body) {\n    if (!error && response.statusCode == 200) {\n        console.log(\"from cloudant\"+body);\n      callback(null,body);\n    } else {\n      callback(error);\n    }\n  })\n}\ngetCars(function(err, result){\n    if(err){\n      console.log(\"Error \" + JSON.stringfy(err));\n    } else {\n      //console.log(result.insights.id);\n      //console.log(\"user:\" + user.id);\n     result.rows.forEach(function(item) {\n     console.log(\"detter er item: \"+item.doc.name);\n     similar(user, item.doc);\n     \n      });\n      console.log(\"all done : \" + JSON.stringify(resarray));\n      resarray.sort(function(a,b){return b.Score - a.Score});\n      msg.payload = JSON.stringify(resarray);\n      node.send(msg);\n    }\n  });\n\nfunction similar (origin,target) { \n  origin = typeof(origin) === 'string' ? JSON.parse(origin) : origin;\n  target = typeof(target) === 'string' ? JSON.parse(target) : target;\n  var distance = 0.0,\n    origin_traits = origin.children[0].children[0].children,\n    target_traits = target.children[0].children[0].children;\n    //console.log(\"user:\" + origin.length);\n    //console.log(\"car:\" + target_traits.length);\n    // for each trait in origin personality...\n  origin_traits.forEach(function(trait, i) {\n      console.log(\"used categories: \" + trait.name+\":\"+trait.percentage);\n    distance += Math.pow(trait.percentage - target_traits[i].percentage, 2);\n  });\n  var ret = 1 - (Math.sqrt(distance / origin_traits.length));\n  msg.payload = {\"Score\":ret,\"Merke\": target.name,\"Model\":target.id,\"DocId\":target._id};\n  resarray.push(msg.payload);\n  //node.send(msg);\n  return resarray;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":520.5,"y":60,"wires":[["3f73849b.8148bc"]]},{"id":"3f73849b.8148bc","type":"debug","z":"79f911f7.06a2","name":"","active":false,"console":"false","complete":"false","x":722.5,"y":232,"wires":[]},{"id":"70b4a766.478658","type":"function","z":"79f911f7.06a2","name":"get tweets","func":"var express = global.get('express'),\n    app = express(),\n    extend = global.get('util')._extend,\n    Twit = global.get('twit');\nvar bodyParser = global.get('bodyParser');\n    app.use(bodyParser.json()); // support json encoded bodies\n    app.use(bodyParser.urlencoded({ extended: true })); // support encoded bodies\n\n// Twitter connection variables - go twitterdev to optain key's\nvar tweet = new Twit({\n    consumer_key: 'SARPtRsed9C3a9cKUfbLpm8en',\n    consumer_secret: 'T6bL8Oh10hu8hTUB5Y1YnOfn696hR9GBfSAVudg6pOhrTIDtXf',\n    access_token: '16744520-oEntxCI7G8ywILxID0w37dWsTMdvHwZIfysGAIC8O',\n    access_token_secret: 'osAt2lmVvXGjpUP9FucF9AtUxfSTAUIaWE86bPZJRAQOT'\n});\n\nvar query = msg.payload.id;\nvar options;\nvar tpath;\nvar tpush;\n\nconsole.log(\"Got request for tweets on : \" + query);\n\n    options = {\n        screen_name: query,\n        count: 200,\n        include_rts: false\n        };\n    tpath = 'statuses/user_timeline';\n\n    var tweets = [];\n    // Send a get to the Twitter API to retrieve a specifice user's timeline\n   tweet.get(tpath, options, function(err, data) {\n        if (err) {\n            console.log(\"Something went wrong with twitter api: \" + err);\n        }else{\n        \t// Loop through and add tweets to an array\n        \tfor (var i = 0; i<data.length; i++){\n        \t\ttweets.push(data[i].text);\n        \t}\n        }\n    console.log(\"Returning tweets\" +tweets );\n        msg.payload = JSON.stringify(tweets);\n    node.send(msg);\n }); // End tweet.get\n","outputs":1,"noerr":0,"x":132.5,"y":275,"wires":[["5d526c86.791e74"]]},{"id":"fdf2adb8.329cf","type":"inject","z":"79f911f7.06a2","name":"","topic":"","payload":"{\"id\":\"@ethilesen\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":185.5,"y":433,"wires":[["70b4a766.478658"]]}]
